[Unit]
Description=kinect2pipe_IR client for connecting libfreenect2 IR source to v4l2loopback devices.
Documentation=https://github.com/stignarnia/kinect2pipe_IR
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=@CMAKE_INSTALL_PREFIX@/bin/kinect2pipe_IR @LOOPBACK_ARG@ @BACKUP_ARG@
Restart=always

[Install]
WantedBy=default.target